<div class="pt-3">
  <div class="container">
    <form [formGroup]="formEditBook" (submit)="edit()">
      <div class="form-group">
        <label >Title: </label>
        <input type="text" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label >Author: </label>
        <input type="text" class="form-control" formControlName="author">
      </div>
      <div class="form-group">
        <label >Description: </label>
        <textarea class="form-control" formControlName="description"></textarea>
      </div>
      <button class="btn btn-secondary" [routerLink]="['/books']" >Cancel</button>
      <button class="btn btn-primary ml-3" >Update</button>
    </form>
  </div>
</div>
